{% extends 'store/layout.html' %}
{% load static %}

{% block body %}
<div class="container py-4" style="max-width: 1050px;">
	<div class="hstack gap-3">
		<!-- <a href="{% url 'store:index' %}" class="link-body-emphasis text-decoration-none">
			<img src="{% static 'store/imgs/icon/sanwal.svg' %}" alt="Logo" width="50" height="45">
		</a> -->
		<!-- <div class="col"> -->
			<h1 class="h5 mb-0">Your Wishlist</h1>
			<div class="vr"></div>
			<div class="text-muted">Manage your orders and personal details</div>
		<!-- </div> -->
	</div>
	<hr>
	<article class="products">
		<div class="row row-cols-1 row-cols-md-3 g-4 m-auto justify-content-center">
			{% for item in object_list %}
				<div class="card">
					<a href="{{ item.get_absolute_url }}">
						<div class="row g-1">
							<div class="col-md-12 pb-2">
								{% if item.img.first.image %}
									<div class="swiper itemImageSwiper">
										<div class="swiper-wrapper">
											{% for image in item.img.all %}
												<div class="swiper-slide">
													<img src="{{ image.image.url }}" alt="{{ image.image }}" >
												</div>
											{% endfor %}
										</div>
									</div>
								{% else %}
									<img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top" alt="No Image Available">
								{% endif %}
							</div>
							<div class="card-body text-center col-12 pt-0 position-relative">
								<h6 class="card-title">{{ item.title | title }}</h6>
								<!-- <p class="card-text">{{ item.description | truncatechars:100 }}</p> -->
								<a href="{{ item.get_absolute_url }}">
									{% if item.discount_price %}
									<del style="text-decoration-color: red;">Rs. {{ item.regular_price }}</del> Rs. {{ item.discount_price }}
									{% else %}
									Rs. {{ item.regular_price }}
									{% endif %}
								</a>
								<a href="{% url 'account:add-to-wishlist' item.slug %}" class="position-absolute start-100 translate-middle-x">
									{% if item in wishlist_listings %}
										<ion-icon name="heart"></ion-icon>
									{% else %}
										<ion-icon name="heart-outline"></ion-icon>
									{% endif %}
								</a>
							</div>
						</div>
					</a>
				</div>
			{% empty %}
				<div class="col">No products have been added to your wishlist yet.</div>
			{% endfor %}
			</col>
		</div>
								<!-- PAGINATION START -->
		{% if is_paginated %}
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% endif %}
					{% for i in page_obj.paginator.get_elided_page_range %}
						{% if page_obj.paginator.ELLIPSIS == forloop.counter %}
							<li class="page-item disabled"><a class="page-link" href="#">{{ forloop.counter }}</a></li>
						{% else %}
							{% if page_obj.number == forloop.counter %}
								<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
								<!-- PAGINATION END -->
	</article>
</div>

{% endblock %}