{% extends 'account/layout.html' %}

{% block title %}Password Update{% endblock %}

{% block form_body %}
<!-- <div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row">
						<div class="auth_form col-12 col-lg-7 mx-auto"> -->
							<form action="" class="rounded mx-auto p-4 col-lg-10" method="post">
								{% csrf_token %}
								<h3 class="mb-4">Change your Password</h3>
								<!-- <p class="mb-4 text-muted">Enter your email address to obtain a new password.</p> -->

								{% if form.errors %}
									{% for field in form %}
										{% if field.errors %}
											{% for error in field.errors %}
												<div class="alert alert-danger alert-dismissible fade show" role="alert">
													{{ error | striptags }}
													<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
												</div>
											{% endfor %}
										{% endif %}
									{% endfor %}
								{% endif %}

								<label for="">{{ form.new_password1.label }}<span class="text-muted small ms-1">(Required)</span></label>
								{{ form.new_password1 }}
								<ul>
									<li>Your password can't be too similar to your other personal information.</li>
									<li>Your password must contain at least 8 characters</li>
									<li>Your password can't be a commonly used password.</li>
									<li>Your password can't be entirely numeric.</li>
								</ul>
								<label for="">{{ form.new_password2.label }}<span class="text-muted small ms-1">(Required)</span></label>
								{{ form.new_password2 }}
								
								<input class="btn w-100" type="submit" value="Submit">
								<p class="text-center"><a href="{% url 'account:login' %}">Login</a></p>
							</form>
						<!-- </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


{% if request.user.is_authenticated %}
	<script>
		window.location.href = '{% url "account:dashboard" %}';
	</script>
{% endif %}

{% endblock form_body %}