{% extends 'account/layout.html' %}

{% block title %}Password Reset{% endblock %}

{% block form_body %}
<!-- <div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row">
						<div class="auth_form col-12 col-lg-7 mx-auto"> -->
							<form action="" class="rounded mx-auto p-4 col-lg-10" method="post">
								{% csrf_token %}
								<h3 class="mb-4">Forgotten your Password?</h3>
								<p class="text-muted">Enter your email address to obtain a new password.</p>

								{% if form.errors %}
								<div class="text-danger my-3">
									{{ form.email.errors | striptags }}
								</div>
								{% endif %}

								<label for="">{{ form.email.label }}<span class="text-muted small ms-1">(Required)</span></label>
								{{ form.email }}
								<input class="btn w-100" type="submit" value="Send email">
								<p class="text-center"><a href="{% url 'account:login' %}">Login</a></p>
							</form>
						<!-- </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


{% if request.user.is_authenticated %}
	<script>
		window.location.href = '{% url "account:dashboard" %}';
	</script>
{% endif %}

{% endblock form_body %}