{% extends 'store/layout.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/store/forms.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid px-5">
	<div class="row no-gutter g-0">
		<div class="col-12 col-sm-6 col-lg-4 order-lg-last mt-4 m-auto">
			<div class="container-fluid px-md-1">
				<div class="row row-cols-1">
					<div class="col">
						<h3 class="d-flex justify-content-between align-items-center mb-3">
							<span>Delivery Options</span>
						</h3>
						<ul class="list-group py-2 px-2 mb-3 checkout-list rounded-4">
							{% for option in delivery_options %}
								<li class="list-group-item d-flex justify-content-between lh-sm">
									<label class="d-flex gap-3" for="id_{{ option.id }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck m-auto" viewBox="0 0 16 16">
											<path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
										</svg>
										<div class="ms-0 ps-0">
											<h6 class="my-0 ms-0 ps-0">{{ option.delivery_name }}</h6>
											<small class="text-muted">Your order should be delivered within {{ option.delivery_timeframe }} </small>
										</div>
									</label>
									<span class="text-body-secondary m-auto">
										<input type="radio" class="form-check-input" name="del_option" value="{{ option.id }}" id="id_{{ option.id }}" {% if forloop.first %} checked {% endif %}>
									</span>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col">
						<h3 class="d-flex justify-content-between align-items-center mb-3">
							<span>Your cart</span>
							<span class="badge rounded-pill btn basket filled">
								{% with total_qty=basket|length %}
									<span class="basket-qty d-inline-flex">{{ total_qty }}</span>
								{% endwith %}
							</span>
						</h3>
						<ul class="list-group py-3 px-2 mb-3 checkout-list rounded-4">
							{% if not basket|length == 0 %}
								{% for item in basket %}
									{% with product=item.product %}
										<li class="list-group-item d-flex justify-content-between lh-sm">
											<div>
												<h6 class="my-0">{{ product.title }}</h6>
												<small class="text-body-secondary">{{ product.description | truncatechars:30 }}</small>
											</div>
											<span class="text-body-secondary">Rs. {{ item.total_price }} ({{ item.qty }})</span>
										</li>
									{% endwith %}
								{% endfor %}
							{% endif %}
							<li class="list-group-item d-flex justify-content-between">
								<span>Sub Total (PKR)</span>
								<strong>Rs. {{ basket.get_before_discount_subtotal_price }}</strong>
							</li>
							<li class="list-group-item d-flex justify-content-between bg-body-tertiary">
								{% if basket.get_discount_price > 0 %}
								<div class="text-success">
									<h6 class="my-0">Discount</h6>
									<small>Special Discount for You</small>
								</div>
								<span class="text-success">-Rs. {{ basket.get_discount_price }}</span>
								{% else %}
								<div class="text-danger">
									<h6 class="my-0">Discount</h6>
									<small>Sorry! No discount available</small>
								</div>
								<span class="text-danger">Rs. {{ basket.get_discount_price }}</span>
								{% endif %}
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div class="text-warning">
									<h6 class="my-0">Delivery Charges</h6>
								</div>
								<span class="text-warning" id="dc_value">Rs. 0.0</span>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<span>Total (PKR)</span>
								<strong id="total_price">Rs. {{ basket.get_total_price }}</strong>
							</li>
							<li class="list-group-item border border-0 d-flex justify-content-between">
								{% if not form %}
									<a href="{% url 'order:order-placement' %}" id="confirm_order" class="w-75 mt-2 m-auto"><button class="btn basket w-100" role="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</button></a>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		{% if form %}
		<div class="col-lg-8 mx-auto">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row ">
						<h3 class="d-flex justify-content-between align-items-center mb-3">
							Billing Address
						</h3>
						<div class="auth_form col-12 col-lg-11">
							<form action="" class="rounded mx-auto p-4 col-lg-11" method="post">
								{% csrf_token %}
								<!-- <h3 class="mb-2">Billing Address</h3> -->

								{% if form.errors %}
								<p class="text-danger">Please correct the following errors:</p>
								{% for field in form %}
								{% if field.errors %}
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									{{ field.label }}: {{ field.errors | striptags }}
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}

								<div class="row">
									<div class="col">
										<label for="id_first_name">{{ form.first_name.label }}</label>
										{{ form.first_name }}
									</div>
									<div class="col">
										<label for="id_last_name">{{ form.last_name.label }}</label>
										{{ form.last_name }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="id_email">{{ form.email.label }} <span
												class="text-muted small">(Optional)</span></label>
										{{ form.email }}
									</div>
									<div class="col">
										<label for="id_phone_number">{{ form.phone_number.label }}</label>
										{{ form.phone_number }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="id_address_line_1">{{ form.address_line_1.label }}</label>
										{{ form.address_line_1 }}
									</div>
									<div class="col">
										<label for="id_address_line_2">{{ form.address_line_2.label }} <span
												class="text-muted small">(Optional)</span></label>
										{{ form.address_line_2 }}
									</div>
								</div>
								<div class="row g-md-2">
									<div class="col-6 col-md-3">
										<label for="id_city">{{ form.city.label }}</label>
										{{ form.city }}
									</div>
									<div class="col-6 col-md-4">
										<label for="id_state">{{ form.state.label }}</label>
										{{ form.state }}
									</div>
									<div class="col">
										<label for="id_country">{{ form.country.label }}</label>
										{{ form.country }}
									</div>
									<div class="col">
										<label for="id_zip_code">{{ form.zip_code.label }}</label>
										{{ form.zip_code }}
									</div>
								</div>
								{% if user.is_authenticated %}
								<hr>
								{{ form.save_info }}
								<label for="id_save_info" style="cursor: pointer;">{{ form.save_info.label }}</label>
								{% endif %}
								<hr class="mt-0">

								<label for="id_payment_method" class="h3">{{ form.payment_method.label }}</label>
								{{ form.payment_method }}

								<hr>

								<input class="btn w-100" type="submit" value="Confirm Order">
								<p class="text-center">Back to <a href="{% url 'store:index' %}">home</a></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-12 col-sm-6 col-md-5 me-lg-0 p-0 order-first mt-4 m-auto">
			<h3 class="d-flex justify-content-between align-items-center mb-3">
				<span>Your Default Address</span>
				<!-- <span class="badge rounded-pill" style="background: wheat; color: initial;">
					<span class="basket-qty d-inline-flex">Label</span>
				</span> -->
			</h3>
			<ul class="list-group py-3 px-2 mb-3 checkout-list rounded-4">
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Name</h6>
						<small class="text-body-secondary">{{ address.first_name }} {{ address.last_name }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Phone Number</h6>
						<small class="text-body-secondary">{{ address.phone_number }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Email</h6>
						<small class="text-body-secondary">{{ address.email }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Address</h6>
						<small class="text-body-secondary">{{ address.address_line_1 }}</small>
					</div>
				</li>
				{% if address.address_line_2 %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Address</h6>
						<small class="text-body-secondary">{{ address.address_line_2 }}</small>
					</div>
				</li>
				{% endif %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Area</h6>
						<small class="text-body-secondary">{{ address.get_city_display }}, {{ address.get_country_display }}</small>
					</div>
					<span class="text-body-secondary my-auto">{{ address.zip_code }}</span>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
{% if not form %}
<script>
	$(document).ready(function () {
		var csrfToken = "{{ csrf_token }}";
		$.ajax({
			type: "post",
			url: "{% url 'address:address-session-update' %}",
			data: {
				csrfmiddlewaretoken: csrfToken,
				action: 'post'
			},
			success: function (response) {
				console.log(response.message);
				$('#confirm_order > button').prop('disabled', false);
				$('#confirm_order > button').text('Confirm Order');
			},
			error: function (xhr, errmessage, err) {
				console.log('error occurred');
				console.log(err);
			}
		});

		$.ajax({
			type: 'post',
			url: "{% url 'checkout:update-dc-in-basket' %}",
			data: {
				csrfmiddlewaretoken: csrfToken,
				delivery_option_id: $('input[type="radio"][name="del_option"]').val(),
				city: '{{ address.city }}',
				action: 'post'
			},
			success: function (response) {
				$('#dc_value').text('Rs. ' + response.dc);
				$('#total_price').text('Rs. ' + response.total_price);
			},
			error: function (xhr, errmessage, err) {
				console.log('error occurred');
				console.log(err);
				console.log(errmessage);
			}
		});
	});
</script>
{% else %}
<script>
	$(document).ready(function () {
		var csrfToken = "{{ csrf_token }}";

		$('#id_city').on('change', () => {
			updateBasket();
		})

		updateBasket();
		function updateBasket() {
			$.ajax({
				type: 'post',
				url: "{% url 'checkout:update-dc-in-basket' %}",
				data: {
					csrfmiddlewaretoken: csrfToken,
					delivery_option_id: $('input[type="radio"][name="del_option"]').val(),
					city: $('#id_city').val(),
					action: 'post'
				},
				success: function (response) {
					$('#dc_value').text('Rs. ' + response.dc);
					$('#total_price').text('Rs. ' + response.total_price);
				},
				error: function (xhr, errmessage, err) {
					console.log('error occurred');
					console.log(err);
					console.log(errmessage);
				}
			});
		}
	})
</script>
{% endif %}
{% endblock %}