{% extends 'store/layout.html' %}

{% block title %}Checkout{% endblock %}

{% block style %}
<style>
	.title+small,
	.title+small+span {
		color: wheat;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-7 col-lg-4 order-lg-last mt-4 m-auto">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span style="color: wheat;">Your cart</span>
				<span class="badge rounded-pill" style="background: wheat; color: initial;">
					{% with total_qty=basket|length %}
					<span class="basket-qty d-inline-flex">{{ total_qty }}</span>
					{% endwith %}
				</span>
			</h4>
			<ul class="list-group py-3 px-2 mb-3 checkout-list rounded-4">
				{% for item in basket %}
				{% with product=item.product %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0">{{ product.title }}</h6>
						<small class="text-body-secondary">{{ product.description | truncatechars:30 }}</small>
					</div>
					<span class="text-body-secondary">Rs. {{ item.total_price }} ({{ item.qty }})</span>
				</li>
				{% endwith %}
				{% endfor %}

				<li class="list-group-item d-flex justify-content-between" style="color: wheat;">
					<span>Sub Total (PKR)</span>
					<strong>Rs. {{ basket.get_before_discount }}</strong>
				</li>
				<li class="list-group-item d-flex justify-content-between bg-body-tertiary">
					{% if basket.get_discount_price > 0 %}
					<div class="text-success">
						<h6 class="my-0">Discount</h6>
						<small>Special Discount for You</small>
					</div>
					<span class="text-success">−Rs. {{ basket.get_discount_price }}</span>
					{% else %}
					<div class="text-danger">
						<h6 class="my-0">Discount</h6>
						<small>Sorry! No discount available</small>
					</div>
					<span class="text-danger">Rs. {{ basket.get_discount_price }}</span>
					{% endif %}
				</li>

				<li class="list-group-item d-flex justify-content-between" style="color: wheat;">
					<span>Total (PKR)</span>
					<strong>Rs. {{ basket.get_total_price }}</strong>
				</li>
			</ul>

			{% if not form %}
			<a href="{% url 'order:order-placement' %}" class="btn basket w-100">Confirm Order</a>
			{% endif %}
		</div>
		{% if form %}
		<div class="col-lg-8">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row">
						<div class="auth_form col-12 col-lg-11 mx-auto">
							<form action="" class="rounded mx-auto p-4 col-lg-10" method="post">
								{% csrf_token %}
								<h3 class="mb-2">Billing Address</h3>
								<!-- <p class="mb-4 text-muted">It's free and only takes a minute.</p> -->

								{% if form.errors %}
								<p class="text-danger">Please correct the following errors:</p>
								{% for field in form %}
								{% if field.errors %}
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									{{ field.label }}: {{ field.errors | striptags }}
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}

								<div class="row">
									<div class="col">
										<label for="id_first_name">{{ form.first_name.label }}</label>
										{{ form.first_name }}
									</div>
									<div class="col">
										<label for="id_last_name">{{ form.last_name.label }}</label>
										{{ form.last_name }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="id_email">{{ form.email.label }} <span
												class="text-muted small">(Optional)</span></label>
										{{ form.email }}
									</div>
									<div class="col">
										<label for="id_phone_number">{{ form.phone_number.label }}</label>
										{{ form.phone_number }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="id_address_line_1">{{ form.address_line_1.label }}</label>
										{{ form.address_line_1 }}
									</div>
									<div class="col">
										<label for="id_address_line_2">{{ form.address_line_2.label }} <span
												class="text-muted small">(Optional)</span></label>
										{{ form.address_line_2 }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="id_city">{{ form.city.label }}</label>
										{{ form.city }}
									</div>
									<div class="col">
										<label for="id_state">{{ form.state.label }}</label>
										{{ form.state }}
									</div>
									<div class="col">
										<label for="id_country">{{ form.country.label }}</label>
										{{ form.country }}
									</div>
									<div class="col">
										<label for="id_zip_code">{{ form.zip_code.label }}</label>
										{{ form.zip_code }}
									</div>
								</div>
								{% if user.is_authenticated %}
								<hr>
								{{ form.save_info }}
								<label for="id_save_info" style="cursor: pointer;">{{ form.save_info.label }}</label>
								{% endif %}
								<hr class="mt-0">

								<label for="id_payment_method" class="h3">{{ form.payment_method.label }}</label>
								{{ form.payment_method }}

								<hr>

								<input class="btn w-100" type="submit" value="Confirm Order">
								<p class="text-center">Back to <a href="{% url 'store:index' %}">home</a></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-7 col-lg-3 me-lg-0 p-0 order-first mt-4 m-auto">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span style="color: wheat;">Your Default Address</span>
				<span class="badge rounded-pill" style="background: wheat; color: initial;">
					<span class="basket-qty d-inline-flex">Label</span>
				</span>
			</h4>
			<ul class="list-group py-3 px-2 mb-3 checkout-list rounded-4">
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Name</h6>
						<small class="text-body-secondary">{{ address.first_name }} {{ address.last_name }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Phone Number</h6>
						<small class="text-body-secondary">{{ address.phone_number }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Email</h6>
						<small class="text-body-secondary">{{ address.email }}</small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Address</h6>
						<small class="text-body-secondary">{{ address.address_line_1 }}</small>
					</div>
				</li>
				{% if address.address_line_2 %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Address</h6>
						<small class="text-body-secondary">{{ address.address_line_2 }}</small>
					</div>
				</li>
				{% endif %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 title">Area</h6>
						<small class="text-body-secondary">{{ address.city }}, {{ address.get_country_display }}</small>
					</div>
					<span class="text-body-secondary">{{ address.zip_code }}</span>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
{% if not form %}
<script>
	$(document).ready(function () {
		var csrfToken = "{{ csrf_token }}";
		$.ajax({
			type: "post",
			url: "{% url 'address:address-session-update' %}",
			data: {
				csrfmiddlewaretoken: csrfToken,
				action: 'post'
			},
			success: function (response) {
				console.log(response)
			},
			error: function (xhr, errmessage, err) {
				console.log('error occurred')
				console.log(err)
			}
		});
	});
</script>
{% endif %}
{% endblock %}